{% extends 'blog/base.html' %}

{% block content %}
    <h1>About This Site</h1>
    
    <p>
    <p>This astro sandbox is in development primarily by Katie Orenstein for P1640 as a part
     of the BridgeUP:STEM 
		program at the American Museum of Natural History in New York City. <br />
		This website owes its backbone structure and blog feature to the incredible <br />
		 Djangogirls organization. <br />
		 The database used for queries, Louise, was built primarily by 
		 Katie's partner-in-crime, Isabelle Greenberg. Both would like to thank their 
		 tireless and kind mentor, Emily Carlson. Katie would like to give an extra special shoutout <br />
		 to Matt Nishi-Broach for his django voodoo, wisdom and his speed in replying to
		 emails. </p>
    </p>
{% endblock %}