{% load staticfiles %}
{% load render_table from django_tables2 %}
<link href="{{ STATIC_URL }}/static/blog/blog.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href"{% static 'blog/blog.css' %}"> 
<html>
    <head>
    	<title>Sample Blog</title>
   		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
        <link rel="stylesheet" href-"{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
    
    <div class="page-header">
        <a href="{% url 'post_list' %}" class="top-menu"><button type="button" class="btn btn-info">Posts</button>
        </a>
        <a href="{% url 'about' %}" class="top-menu"><button type="button" class="btn btn-primary">About</button></a>
        <h1><a href="/">P1640 Sandbox Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

  </body>      
</html>