{% load staticfiles %}
<link href="{{ STATIC_URL }}/static/blog/blog.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href"{% static 'blog/blog.css' %}"> 
<html>
    <head>
    	<title>Sample Blog</title>
   		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
    </head>
    <body>
        <div>
            <h1><a href="">Sample Blog</a></h1>
        </div>
        
       	 {% for post in posts %}
    		<div>
       			 <p>published: {{ post.published_date }}</p>
       			 <h1><a href="">{{ post.title }}</a></h1>
       			 <p>{{ post.text|linebreaks }}</p>
   			</div>
   		
			{% endfor %}
  
  </body>      
</html>