<html>
    <head>
   		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Sample Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sample Blog</a></h1>
        </div>
        
       	 {% for post in posts %}
    	<div>
       	 <p>published: {{ post.published_date }}</p>
       		 <h1><a href="">{{ post.title }}</a></h1>
       	 <p>{{ post.text|linebreaks }}</p>
   		</div>
   		
			{% endfor %}
  
  </body>      
</html>